.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #212529;
  font-size: 0.9rem;
  line-height: 1.6;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #28292b;
}

.table th {
  vertical-align: bottom;
  border-bottom: 2px solid #575a5c;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}
