<div class="background">
<div *ngFor="let item of MyData" class="profile" >

  <img [src]="item.photo" alt="Profile Image">
  <table>
    <div class="vertical-table">
      <div class="vertical-table-row" *ngFor="let item of MyData">
        <div class="vertical-table-cell">Name</div>
        <div class="vertical-table-cell">: {{ item.fullName }}</div>
      </div>
      <div class="vertical-table-row" *ngFor="let item of MyData">
        <div class="vertical-table-cell">Email</div>
        <div class="vertical-table-cell">{{ item.email }}</div>
      </div>
      <div class="vertical-table-row" *ngFor="let item of MyData">
        <div class="vertical-table-cell">Mobile</div>
        <div class="vertical-table-cell">{{ item.mobileNo }}</div>
      </div>
      <div class="vertical-table-row" *ngFor="let item of MyData">
        <div class="vertical-table-cell">Department</div>
        <div class="vertical-table-cell">{{ item.department }}</div>
      </div>
      <div class="vertical-table-row" *ngFor="let item of MyData">
        <div class="vertical-table-cell">Birthday</div>
        <div class="vertical-table-cell">{{ item.dob |date }}</div>
      </div>
    </div>
  </table>
</div>
</div>
<div>
  <app-usersidenavbar></app-usersidenavbar>
</div>

