<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="bigshow">
  <div class="row">
  <div class="col-lg-6">
  <!-- Name -->
  <div class="form-group"  [ngClass]="{'form-group': true, 'has-error': !employeeForm.controls['name'].valid && (employeeForm.controls['name'].dirty || employeeForm.controls['name'].touched)}">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
    <div *ngIf="employeeForm.controls['name'].dirty && employeeForm.controls['name'].hasError('required')" class="text-danger">
      Name is required.
    </div>
    <div *ngIf="employeeForm.hasError('pattern','name')">
      <p style="color: red;"> Name should not contain numbers.</p>
     </div>
  </div>

  <!-- Email -->
  <div class="form-group"  [ngClass]="{'form-group': true, 'has-error': !employeeForm.controls['email'].valid && (employeeForm.controls['email'].dirty || employeeForm.controls['email'].touched)}">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <div *ngIf="employeeForm.controls['email'].dirty && employeeForm.controls['email'].hasError('required')" class="text-danger">
      Email is required.
    </div>
    <div *ngIf="employeeForm.controls['email'].dirty && employeeForm.controls['email'].hasError('email')" class="text-danger">
      Please enter a valid email address.
    </div>
  </div>

  <!-- Password -->
  <div class="form-group"  [ngClass]="{'form-group': true, 'has-error': !employeeForm.controls['password'].valid && (employeeForm.controls['password'].dirty || employeeForm.controls['password'].touched)}">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
    <div *ngIf="employeeForm.controls['password'].dirty && employeeForm.controls['password'].hasError('required')" class="text-danger">
      Password is required.
    </div>
    <div *ngIf="employeeForm.controls['password'].dirty && employeeForm.controls['password'].hasError('minlength')" class="text-danger">
      Password must be at least 6 characters long.
    </div>
  </div>

  <!-- Mobile Number -->
  <div class="form-group"  [ngClass]="{'form-group': true, 'has-error': !employeeForm.controls['mobileNumber'].valid && (employeeForm.controls['mobileNumber'].dirty || employeeForm.controls['mobileNumber'].touched)}">
    <label for="mobileNumber">Mobile Number</label>
    <input type="text" class="form-control" id="mobileNumber" formControlName="mobileNumber">
    <div *ngIf="employeeForm.controls['mobileNumber'].dirty && employeeForm.controls['mobileNumber'].hasError('required')" class="text-danger">
      Mobile Number is required.
    </div>
    <div *ngIf="employeeForm.controls['mobileNumber'].dirty && employeeForm.controls['mobileNumber'].hasError('pattern')" class="text-danger">
      Please enter a valid 10-digit mobile number.
    </div>
  </div>

  <!-- Department -->
  <div class="form-group"  [ngClass]="{'form-group': true, 'has-error': !employeeForm.controls['department'].valid && (employeeForm.controls['department'].dirty || employeeForm.controls['department'].touched)}">
    <label for="department">Department</label>
    <input type="text" class="form-control" id="department" formControlName="department">
    <div *ngIf="employeeForm.controls['department'].dirty && employeeForm.controls['department'].hasError('required')" class="text-danger">
      Department is required.
    </div>
  </div>

  <!-- Salary -->
  <div class="form-group"  [ngClass]="{'form-group': true, 'has-error': !employeeForm.controls['salary'].valid && (employeeForm.controls['salary'].dirty || employeeForm.controls['salary'].touched)}">
    <label for="salary">Salary</label>
    <input type="text" class="form-control" id="salary" formControlName="salary">
    <div *ngIf="employeeForm.controls['salary'].dirty && employeeForm.controls['salary'].hasError('required')" class="text-danger">
      Salary is required.
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="form-group"  [ngClass]="{'form-group': true, 'has-error': !employeeForm.controls['sureName'].valid && (employeeForm.controls['sureName'].dirty || employeeForm.controls['sureName'].touched)}">
    <label for="sureName">Last Name</label>
    <input type="text" class="form-control" id="sureName" formControlName="sureName">
    <div *ngIf="employeeForm.controls['sureName'].dirty && employeeForm.controls['sureName'].hasError('required')" class="text-danger">
      Sure Name is required.
    </div>
  </div>
  <!-- Gender -->
  <div class="form-group">
    <label>Gender</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" formControlName="gender" value="male"> Male
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" formControlName="gender" value="female"> Female
      </label>
    </div>

    <div *ngIf="employeeForm.controls['gender'].dirty && employeeForm.controls['gender'].hasError('required')"
      class="text-danger">Gender is required.</div>
  </div>



  <!-- Date of Birth -->
  <div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth">
    <div *ngIf="employeeForm.controls['dateOfBirth'].dirty && employeeForm.controls['dateOfBirth'].hasError('required')" class="text-danger">
      Date of Birth is required.
    </div>
  </div>

  <!-- Address -->
  <div class="form-group">
    <label for="address">Address</label>
    <textarea class="form-control" id="address" formControlName="address"></textarea>
    <div *ngIf="employeeForm.controls['address'].dirty && employeeForm.controls['address'].hasError('required')" class="text-danger">
      Address is required.
    </div>
  </div>

  <!-- Aadhar Number -->
  <div class="form-group"  [ngClass]="{'form-group': true, 'has-error': !employeeForm.controls['aadharNumber'].valid && (employeeForm.controls['aadharNumber'].dirty || employeeForm.controls['aadharNumber'].touched)}">
    <label for="aadharNumber">Aadhar Number</label>
    <input type="text" class="form-control" id="aadharNumber" formControlName="aadharNumber">
    <!-- <div *ngIf="employeeForm.controls['aadharNumber'].dirty && employeeForm.controls['aadharNumber'].hasError('required')" class="text-danger">
      Aadhar Number is required.
    </div> -->
    <div *ngIf="employeeForm.controls['aadharNumber'].invalid && (employeeForm.controls['aadharNumber'].dirty || employeeForm.controls['aadharNumber'].touched)" class="text-danger">
      <div *ngIf="employeeForm.controls['aadharNumber'].hasError('required')">Aadhar Number is required.</div>
      <div *ngIf="employeeForm.controls['aadharNumber'].errors?.['maxLength']">Aadhar Number should be 12 digits.</div>
      <div *ngIf="employeeForm.controls['aadharNumber'].errors?.['invalidAadharNumber']">Invalid Aadhar Number format.</div>
    </div>

  </div>

  <!-- Bank Account Number -->
  <div class="form-group"  [ngClass]="{'form-group': true, 'has-error': !employeeForm.controls['bankAccountNumber'].valid && (employeeForm.controls['bankAccountNumber'].dirty || employeeForm.controls['bankAccountNumber'].touched)}">
    <label for="bankAccountNumber">Bank Account Number</label>
    <input type="text" class="form-control" id="bankAccountNumber" formControlName="bankAccountNumber">
    <div *ngIf="employeeForm.controls['bankAccountNumber'].dirty && employeeForm.controls['bankAccountNumber'].hasError('required')" class="text-danger">
      Bank Account Number is required.
    </div>
  </div>

  <!-- Sure Name -->

  </div>
  </div>
  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Add Employee</button>
</div>
</form>
